@import url('./reset.css');

@font-face {
    font-family: 'lato';
    src: url('../font/Lato-Regular.ttf');
}

* {
    font-family: 'lato';
}

.container,
.menucontainer,
.herocontainer,
.aboutcontainer,
.mynamecontainer,
.goodatcontainer,
.statscontainer,
.contactcontainer {
    width: 90vw;
    max-width: 1280px;
    margin: 0 auto;
}

/*
 * Menu CSS
 */

header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.menucontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    font-size: 1.2rem;

    .menu {
        display: flex;
        align-items: center;
        gap: 2rem;

        svg {
            width: 1rem;
            display: inline-block;
        }

        .menufull {
            display: none;
        }
    }

    .menusearch {
        display: none;
    }
}

@media screen and (min-width: 576px) {
    .menucontainer {
        .menuhamburger {
            display: none;
        }

        .menu {
            .menufull {
                display: block;
            }
        }

        .menusearch {
            display: block;
        }
    }
}

/*
 * Hero CSS
 */

.herocontainer {
    background-image: url('../img/parallax1.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    /* Set Parallax effect */
    background-attachment: fixed;
    background-position: center;

    width: 100%;
    min-height: 600px;
    position: relative;

    .herologo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1rem 2rem;
        background-color: black;
        color: white;
        font-size: 2.6rem;
        letter-spacing: 1rem;

        span {
            display: none;
        }
    }
}

@media screen and (min-width:576px) {
    .herocontainer {
        .herologo {
            span {
                display: inline-block;
            }
        }
    }
}

/*
 * Define global styles
 */

h2,
.title {
    font-size: 2.2rem;
    margin-top: 7rem;
    margin-bottom: 2.5rem;
    text-align: center;
}

.subtitle {
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
    margin-bottom: 2rem;
}

.content {
    font-size: 1.5rem;
    margin-bottom: 4rem;
}

/*
 *  About Me CSS section
 */

.aboutcontainer {
    width: 95%;
}

/*
 * My name CSS section
 */

.mynamecontainer {
    display: flex;
    flex-direction: column;
    width: 100%;

    .leftside {
        width: 100%;

        h3 {
            margin-bottom: 5rem;
            font-size: 1.5rem;
            text-align: center;
        }

        .leftsideimage {
            width: 90%;
            margin: 0 auto;

            img {
                width: 100%;
            }
        }
    }

    .rightside {
        display: none;
    }
}

/*
  * Good at section
  */

progress::-webkit-progress-bar {
    background: #EEE;
}

progress::-webkit-progress-value {
    background: #666;
}

progress {
    appearance: none;
    margin-bottom: 0.4rem;
    margin-top: 0.8rem;
    width: 100%;
    height: 3.5rem;
    border-radius: 0;
    overflow: hidden;
    color: white;
    text-align: center;
    position: relative;
}

progress::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: attr(value)'%';
    transform: translate(-50%, -50%);
}

.goodatcontainer {
    h3 {
        margin-top: 5rem;
        margin-bottom: 3rem;

        font-size: 1.5rem;
        text-align: center;
    }

    .skillsbar {
        display: flex;
        flex-direction: column;

        label {
            font-size: 1.5rem;
            letter-spacing: 1rem;

            i {
                margin-right: 0.6rem;
            }
        }
    }
}

/*
 * Statistics CSS section
 */

.statscontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #666;
    color: white;
    padding-top: 3rem;

    p {
        text-align: center;
        font-size: 2.4rem;

        span {
            display: block;
            font-size: 1.6rem;
            margin-top: 0.4rem;
            margin-bottom: 3rem;
        }
    }
}

@media screen and (min-width: 576px) {
    .statscontainer {
        margin-top: 5rem;
        flex-direction: row;
    }
}

/*
 * Portfolio CSS section
 */

.portfolioimgcontainer {
    background-image: url('../img/parallax2.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    /* Set Parallax effect */
    background-attachment: fixed;
    background-position: center;

    width: 100%;
    min-height: 600px;
    position: relative;

    >div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 3.2rem;
        letter-spacing: 1rem;
    }
}

.portfoliocontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .subtitle {
        margin-bottom: 0.3rem;
    }

    .portfolioimgs {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;

        >div {
            width: 90%;
            margin: 0 auto;

            img {
                width: 100%;
            }
        }
    }

    .button {
        background-color: #EEE;
        color: black;
        font-size: 1.5rem;
        text-align: center;
        padding: 1rem 2rem;
        margin: 7.5rem auto;
        cursor: pointer;
    }

    .button:hover {
        background-color: lightgray;
        color: black;
        transition: 0.3s all;
    }
}

/*
 * Contact CSS section
 */

.contactimgcontainer {
    background-image: url('../img/parallax3.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    /* Set Parallax effect */
    background-attachment: fixed;
    background-position: center;

    width: 100%;
    min-height: 600px;
    position: relative;

    >div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 3.2rem;
        letter-spacing: 1rem;
    }
}

.contactcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;


    >div {
        display: flex;
        flex-direction: column;
        margin: 2rem 0;
    }

    .contactimg {
        width: 100%;
    }

    .contactPanel {
        width: 100%;

        .contactList {
            width: 100%;

            p {
                font-size: 1.8rem;
            }

            i {
                margin-right: 1.8em;
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
            }
        }

        .giveacup {
            font-size: 1.5rem;
            margin: 2rem 0;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 100%;
            margin-top: 1rem;
        }

        .formNameEmail {
            display: flex;
            flex-direction: column;
            width: 100%;

            input[type="text"] {
                width: 100%;
                padding: 0.5rem;
                font-size: 1.6rem;
            }
        }

        .formMessage {
            input[type="text"] {
                width: 100%;
                padding: 0.5rem;
                font-size: 1.6rem;
            }
        }

        .formSendFrame {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            div {
                position: relative;

                i {
                    position: absolute;
                    top: 50%;
                    left: 1.6rem;
                    transform: translate(-50%, -50%);
                    color: white;
                    pointer-events: none;
                    font-size: 1.4rem;
                }
            }

            input[type="submit"] {
                padding: 0.5rem 2rem 0.5rem 3rem;
                font-size: 1.4rem;
                color: white;
                background-color: black;
                border: none;
            }

            input[type="submit"]:hover {
                background-color: gray;
                cursor: pointer;
                transition: 0.3s all;
            }

        }

    }
}

/*
 * Footer CSS section
 */

footer {
    background-color: #666;
    color: white;
    text-align: center;
    padding: 7rem 0;
    margin-top: 12rem;

    p {
        font-size: 0.9rem;
    }
}

footer>a {
    text-decoration: none;
    color: #666;
    background-color: white;
    padding: 1rem 2rem;
    font-weight: 600;
    font-size: 1.4rem;

    i {
        margin-right: 0.6rem;
    }
}


footer>a:hover {
    background-color: lightgray;
    color: black;
    opacity: 0.8;
    transition: 0.3s all;
}

.socialMedia {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.4rem;

    a {
        text-decoration: none;
        color: white;
        font-size: 2rem;
        font-weight: 600;
    }

    a:hover {
        color: lightgray;
        transition: 0.3s all;
    }
}